.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #87ceeb;
    border-top: 0;
    font-size: max(1vw, 10px);
    background-color: #f0f8ff; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.sidebar:hover {
    background-color: #e6f7ff; 
    border-color: #4682b4; 
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #87ceeb;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    background-color: #ffffff; 
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.sidebar-option:hover {
    background-color: #d1ecff; 
    color: #1e90ff; 
    border-color: #1e90ff; 
}

.sidebar-option.active {
    background-color: #ffe4e1; 
    border-color: tomato; 
    color: #ff4500; 
}

@media (max-width: 900px) {
    .sidebar-option p {
        display: none;
    }
}
