.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: #4682b4; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: #5f9ea0; 
}

.navbar .logo {
    width: max(10%, 80px);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
}

.navbar .logo:hover {
    transform: scale(1.1);
}

.navbar .profile {
    width: 100px;
    border-radius: 50px;
    padding: 5px;
    background-color: #87ceeb; 
    color: #333; 
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.navbar .profile:hover {
    background-color: #1e90ff; 
    color: white;
    transform: scale(1.05);
}
